.text-black {
    color: black;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .text-black {
        font-size: 14px;
    }
}



.hover-container:hover .text-black  {
    color: #f33535 !important;
    text-shadow: 0 0 0.5px currentColor;
    cursor: pointer;
}

.hover-container:hover .date-time {
    color: #f33535 !important;
    text-shadow: 0 0 0.5px currentColor;
    cursor: pointer;
}