.collapse-button {
  border: none;
  background: transparent;
  font-size: 25px;
  font-family: Baskervville;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
  cursor: pointer !important;
}
.collapse-div {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out, opacity 600ms ease-in-out;
}
.collapse-div.expanded {
  margin-top: 20px !important;
  height: auto;
  opacity: 1;
}
