// .navbar {
//   height: 90px;
//   background-color: #fff !important;
//   font-family: 'Inter', sans-serif;
//   font-size: 22px;
//   font-weight: 400;
//   line-height: 24px;
//   letter-spacing: 0.05em;
// }

// .row-container {
//   column-gap: 20px !important;
// }


// .navbar-brand {
//   margin-left: 1rem !important;
//   // border: 1px solid red;
//   max-width: 20%;
// }

// .navbar-brand .mobile_logo {
//   display: inline;
//   width: 100%;
// }

// .navbar-brand .desktop_logo {
//   display: none;
// }

// .navbar-brand img {
//   width: 100%;
//   image-rendering: optimizeQuality;
// }

// .navbar-nav {
//   display: flex;
//   gap: 1rem;
//   font-size: 1.25rem !important;
// }

// .dropdown {
//   position: static !important;
//   margin-top: 0rem;
//   font-weight: 500;
//   line-height: normal;
//   letter-spacing: 1px;
// }

// .dropdown1 {
//   font-weight: 500;
//   line-height: normal;
//   letter-spacing: 1px;
// }

// // .dropdown-menu {
// //   width: 98vw;
// //   margin: 0rem calc(100vw - 99vw);
// //   box-shadow: 1px 5px 6px #7c7c7c;
// //   padding: 3rem 0rem !important;
// //   cursor: pointer;
// // }

// .dropdown-henu {
//   width: 98vw;
//   margin: 0rem calc(100vw - 99vw) !important;
//   border-radius: 0px !important;
//   border-top: 0.3px solid grey !important;
//   width: 100vw;
//   margin: 0rem calc(0vw) !important;
//   box-shadow: 1px 5px 6px #7c7c7c;
//   padding: 3rem 0rem !important;
//   cursor: pointer;
//   overflow-y: auto;
//   overflow-x: auto;
// }



// .navItemDiv {
//   font-weight: 300;
//   font-style: normal;

//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   row-gap: 2rem;
// }

// .dropdown-item {
//   width: fit-content !important;
// }


// .dropdown:hover .dropdown-menu {
//   display: block;
//   overflow-x: auto;
//   overflow-y: auto;
// }




// // @media (min-width :993px) {
// //   .navbar-brand .mobile_logo {
// //     display: none;
// //   }

// //   .navbar-brand .desktop_logo {
// //     display: flex;
// //   }

// //   .navbar-brand {
// //     padding-top: 25px;
// //   }
// // }

// // @media (min-width : 990px) and (max-width : 1250px) {
// //   .navbar-nav {
// //     font-size: 1rem !important;
// //   }
// // }


// .cursor-hover-red:hover {

//   color: #F33535 !important;
//   cursor: pointer;
// }

// .your-class-name:hover {
//   color: red;
//   /* Change this to the desired color */
// }

// .ml-3 {
//   margin-left: 4px !important;
// }

::ng-deep .mat-icon {
  border: none !important;
  outline: none !important;
}

.active {
  color: red;
  /* Change the color to red when liked */
  cursor: pointer;
}

.custom-dropdown {
	a {
		.arrow {
			display: inline-block;
			position: relative;
			transition: .3s transform ease;
		}
	}
	&.show {
		a {
			color: black;
			.arrow {
				transform: rotate(180deg);
			}
		}
	}

	.btn {
		&:active, &:focus {
			box-shadow: none!important;
			outline: none;
		}	
		&.btn-custom {
			border: 1px solid #efefef;	
		}
	}


	.title-wrap {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.title {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.dropdown-link {
		color: #888;
		// font-size: 15px;
		display: inline-block;
		padding-right: 0px;
		position: relative;
		.wrap-icon {
			font-size: 30px;
		}
		.number {
			width: 24px;
			height: 24px;
			line-height: 20px;
			border-radius: 50%;
			background: primary;
			position: absolute;
			
			font-size: 13px;
			top: -10px;
			right: -10px;
			border: 2px solid white;
			color: white;
			text-align: center;
		}
		
	}
	

	.dropdown-menu {
		border: 1px solid transparent;
		box-shadow: 0 15px 30px 0 rgba(black, .2);
		margin-top: 0px!important;
		padding-top: 0;
		padding-bottom: 0;
		padding: 10px;
		opacity: 0;
		top: 100%!important;
		left: 50%!important;
		transform: translate(-50%, 0)!important;
		right: auto!important;
		transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
		visibility: hidden;
		min-width: 680px;
		&.active {
			opacity: 1;
			visibility: visible;
			margin-top: 10px!important;
		}

		.mega-menu {
			padding: 20px;
			h3 {
				font-size: 14px;
				text-transform: uppercase;
			}
			.border-primary {
				border-left: 2px solid primary;
				padding-left: 20px;
			}
			.border-warning {
				border-left: 2px solid warning;
				padding-left: 20px;
			}
			.border-danger {
				border-left: 2px solid danger;
				padding-left: 20px;
			}
			a {
					display: block;
					padding-top: 5px;
					font-size: 14px;
					padding-bottom: 5px;
					text-decoration: none;
					color: lighten(black, 50%);
					font-weight: 400;
					&:hover {
						color: black;
					}
				}
			> div {
				width: 33.3333%;
				padding-left: 10px;
				padding-right: 10px;
				ul {
					 margin: 0;
					 padding: 0;
					li {
						
					}
				}
			}	
		}

	}


	&.show {
		
	}
}