.custom-card-body{
  height: 110px;
  width: 300px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}
.custom-card-title{
  font-family: Baskervville;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}
.custom-card-image{
  height: 270px;
  width: 270px;
  border-radius: 12px 12px 0px 0px;

}
